body {
    font-family: "Arial", sans-serif;
}

section {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
}

.gameBoard {
    margin-right: 10%;
}

.gameInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.status {
    margin-top: 15%;
}

.buttons {
    margin-top: auto;
}

.gameTitle {
    font-size: 60px;
}

.gameStatus {
    font-size: 30px;
}

.gameGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 300px;
    margin: 25px auto;
}

.cell {
    width: 100px;
    height: 100px;
    border: 1px solid #333333;
    cursor: pointer;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}